<!DOCTYPE html>
<html lang="en">
<head>
    {{>preheader}}
</head>
<body>
    <div class="main-content">
        {{>header}}   
        <p>This site is created by {{name}}.</p>     
        <img class="portrait" src="/images/me.jpg" />
        
        <p><b>It uses:</b> <br/><i class="url">mapbox.com</i> api service for fetching the geocode from user input search location &amp; <i class="url">darksky.net</i> api service to fetch the weather data.</p>
    </div>
    {{>footer}}
</body>
</html>